<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body>
<p>LISTADO DE PRODUCTOS</p>
<table width="635" border="1">
  <tbody>
    <tr>
      <th scope="col">IMAGEN</th>
      <th scope="col">PRODUCTO</th>
      <th scope="col">PRECIO</th>
      <th scope="col">CATEGORIA</th>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/jamon de pierna 300.jpg" width="300" height="300" alt=""/></td>
      <td>JAMÓN DE PIERNA</td>
      <td>$38.00</td>
      <td>4</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/jamon pavo 300.jpg" width="300" height="300" alt=""/></td>
      <td>JAMÓN DE PAVO</td>
      <td>$35.00</td>
      <td>4</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/salchicha 300.jpg" width="300" height="300" alt=""/></td>
      <td>SALCHICHA</td>
      <td>$28.00</td>
      <td>4</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/tocino300.jpg" width="300" height="300" alt=""/></td>
      <td>TOCINO</td>
      <td>$38.00</td>
      <td>4</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/melon chino 300.jpg" width="300" height="300" alt=""/></td>
      <td>MELON</td>
      <td>$28.00</td>
      <td>2</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/lechuga italiana 300.jpg" width="300" height="300" alt=""/></td>
      <td>LECHUGA ITALIANA</td>
      <td>$10.00</td>
      <td>3</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/calabaza 300.jpg" width="300" height="300" alt=""/></td>
      <td>CALABAZA</td>
      <td>$15.00</td>
      <td>3</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/ajo 300.jpg" width="300" height="300" alt=""/></td>
      <td>AJO</td>
      <td>$8.00</td>
      <td>5</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/sal 300.jpg" width="300" height="300" alt=""/></td>
      <td>SAL</td>
      <td>$12.00</td>
      <td>5</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/pastel de chocolate 300.jpg" width="300" height="300" alt=""/></td>
      <td>PASTEL DE CHOCOLATE</td>
      <td>$300.00</td>
      <td>1</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/pastel fresa 300.jpg" width="300" height="300" alt=""/></td>
      <td>PASTEL DE FRESA</td>
      <td>$280.00</td>
      <td>1</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/galletas mantequilla 300.jpg" alt=""/></td>
      <td>GALLETAS</td>
      <td>$60.00</td>
      <td>1</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/pan blanco 300.jpg" width="300" height="300" alt=""/></td>
      <td>PAN BLANCO</td>
      <td>$42.00</td>
      <td>1</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/manzana golden 300.jpg" width="300" height="300" alt=""/></td>
      <td>MANZANA</td>
      <td>$60.00</td>
      <td>2</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/fresa 300.jpg" width="300" height="300" alt=""/></td>
      <td>FRESA</td>
      <td>$70.00</td>
      <td>2</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/cebolla 300.jpg" width="300" height="300" alt=""/></td>
      <td>CEBOLLA</td>
      <td>$12.00</td>
      <td>3</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/television48 300.jpg" width="300" height="300" alt=""/></td>
      <td>TELEVISIÓN DE 48 PULGADAS</td>
      <td>$5,000.00</td>
      <td>6</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/television75 300.jpg" width="300" height="300" alt=""/></td>
      <td>TELEVISIÓN HD 75</td>
      <td>$6,800.00</td>
      <td>6</td>
    </tr>
    <tr>
      <td><img src="file:///C|/xampp/htdocs/mi_tienda-master/images/cable usb 300.jpg" width="300" height="300" alt=""/></td>
      <td>CABLE USB</td>
      <td>$98.00</td>
      <td>6</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>CABLE HDMI</td>
      <td>$210.00</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>